[submodule "military-apps-library-java"]
	path = military-apps-library-java
	url = https://github.com/ArcGIS/military-apps-library-java.git
[submodule "aFileChooser"]
	path = aFileChooser
	url = https://github.com/iPaulPro/aFileChooser.git
